body, div {
    margin: 0;
    border: 0 none;
    padding: 0;
}

#application {
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

#feeds {
    flex-basis: 285px;
}

#articles {
    width: 33.3%;
}

nav {
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {

    border-bottom: 1px solid #afafaf;
    padding: 1em;
    word-wrap: break-word;

}

a.seen {
    color: darkgray;
}

.column {
    border-right: 1px solid #afafaf;
    height: 100vh;
    overflow: auto;
}

#content {
    padding: 1.5%;
    width: 100%;
    box-sizing: border-box; /** Fixes issue with padding, scrolling and height: 100vh */
}

#content pre {
    white-space: pre-wrap;
}

#content article {
    margin-bottom: 5em;
}

img {
    max-width: 100%;
}
