{% extends '@Core/main.twig' %}

{% import _self as macro %}

{% block javascripts %}
    {{ parent() }}
    <script>System.import("{{ asset('assets/Core/articles.js') }}");</script>
{% endblock %}

{% block articles %}
    <ul>
        {% for article in unseenArticles %}
            <li><a href="#{{ article.id }}">{{ article.title }}</a></li>
        {% endfor %}
        {% for article in seenArticles %}
            <li><a href="#{{ article.id }}" class="seen">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {% for article in unseenArticles %}
        {{ macro.displayArticle(article, 0) }}
    {% endfor %}
    {% for article in seenArticles %}
        {{ macro.displayArticle(article, 1) }}
    {% endfor %}
{% endblock %}

{% macro displayArticle(article, seen) %}
    <article id="{{ article.id }}">
        <h2>
            <a href="{{ article.url }}" class="{{ seen ? 'seen' }}">{{ article.title }}</a>
        </h2>
        {{ article.content|raw }}
    </article>
{% endmacro %}
