<ul>
    {% for userFeedView in userFeedViews %}
    {% set feed = userFeedView.feed %}
    <li>
        <a href="{{ path('deeprss_reader_core_stream_getarticles', {'feedId': feed.id}) }}"
           data-feed-id="{{ feed.id }}">
            {{ feed.url }} ({{ userFeedView.unseenArticlesCount }})
        </a>
    </li>
    {%  endfor %}
</ul>
