<!DOCTYPE html>
<html>
<head>

    {% if app.debug %}
        <style>
            /**
             * Fixes issues with scrollbar and vh related to debug toolbar
             * See: https://github.com/symfony/symfony/issues/28981
             */
            .sf-toolbar-clearer {
                height: 0 !important;
            }
        </style>
    {% endif %}

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('/assets/Core/app.css') }}">

    {% endblock %}

</head>
<body>

<div id="application">

    <nav id="feeds" class="column">
        {% block feeds %}
            {{ render(path("deeprss_reader_core_stream_getfeeds")) }}
        {% endblock %}
    </nav>

    <nav id="articles" class="column">
        {% block articles %}
        {% endblock %}
    </nav>

    <div id="content" class="column">
        {% block content %}
        {% endblock %}
    </div>

</div>

{% block javascripts %}

    <script src="{{ asset('/assets/vendor/getlibs/dist/src.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>System.import("{{ asset('assets/Core/main.js') }}");</script>

{% endblock %}

</body>
</html>
